<ng-container>
    <h1 *ngIf="game.isWin">Победа</h1>
    <h1 *ngIf="game.isLoose">Поражение</h1>
    <h1 *ngIf="game.isPlayng">Игра</h1>
    <h1 *ngIf="game.isPlacing">Размещение</h1>
    <h1 *ngIf="game.isOver">Игра окончена</h1>
</ng-container>

<ng-container *ngIf="!game.isOver">

    <ng-container *ngIf="game.isPlayng; else placing;">
        <h2>{{ game.player.isMyTurn ? 'Ваш ход' : 'Ждем противника' }}</h2>

        <table class="main-table">
            <tr>
                <th>Your side</th>
                <th>Enemy side</th>
            </tr>
            <tr>
                <td>
                    <table class="disabled">
                        <tr *ngFor="let points of player.myBoard.rows">
                            <td *ngFor="let point of points"
                                [ngClass]="{ 'damaged': point.isDamage , 'burned': point.isBurned , 'placed': point.isPlaced } ">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table [ngClass]="{'enemy-disabled' : !game.player.isMyTurn }">
                        <tr *ngFor="let points of player.enemyBoard.rows">
                            <td *ngFor="let point of points"
                                (click)="clickPoint(point)"
                                [ngClass]="{ 'can-fire': point.canFire, 'damaged': point.isDamage , 'burned': point.isBurned }">

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </ng-container>


    <ng-template #placing>
        <h2 *ngIf="!player.myBoard.isPlacing()">Ожидаем противника</h2>
        <table class="main-table">
            <tr>
                <th>Your side</th>
                <th>Enemy side</th>
            </tr>
            <tr>
                <td>

                    <table *ngIf="player.myBoard.isPlacing()" class="placing">
                        <tr *ngFor="let points of player.myBoard.rows">
                            <td *ngFor="let point of points"
                                (click)="clickPoint(point)"
                                [ngClass]="{
                                        'can-place': point.canPlace,
                                        'disable-cell': !point.canPlace && !point.isPlaced,
                                        'placed': point.isPlaced
                                    }">

                            </td>
                        </tr>
                    </table>


                    <table *ngIf="!player.myBoard.isPlacing()">
                        <tr *ngFor="let points of player.myBoard.rows">
                            <td *ngFor="let point of points"
                                class="disable-cell">

                            </td>
                        </tr>
                    </table>


                </td>
                <td>
                    <table class="disabled">
                        <tr *ngFor="let points of player.enemyBoard.rows">
                            <td *ngFor="let point of points">

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </ng-template>
</ng-container>